.nav {
    padding-left: 70px;
    padding-right: 50px;
    width: max-content;
    display: flex;
    flex-direction: column;
}

.navList {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    
}

.navList a {
    color: gray;
    text-decoration: none;
}

.navList a:active,
.navList a.active {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.name {
    font-style: bold;
    font-size: 24px;
    width: max-content;
}
